.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 350px;
  background-color: #662323;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.active-list-item {
  color: #e86060 !important;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.main-container {
  margin: 0px 5% 85px; /*margin-bottom = player height*/
  padding: 0;
}

.mat-sidenav-content {
  overflow-y: scroll; /* Add the ability to scroll */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.mat-sidenav-content::-webkit-scrollbar {
  display: none;
}

.logo {
  width: 77%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

.logo-icon {
  height: 50px;
}

.mat-list-title {
  color: white;
  font-size: 22px;
  padding: 50px 48px 0px;
  margin-bottom: 5px;
}
.mat-list-item {
  color: white;
  font-size: 16px;
  font-weight: 300;
  padding: 0px 32px !important;
  height: 25px !important;
}

.search-container {
  width: 90%;
  position: relative;
  display: block;
  overflow: hidden;
  border:1px solid #828282;
  border-radius: 50px;
  margin-left: 30px;
}

.search-input {
  font-size: 16px;
  color: #212121;
  padding: 0 20px;
  width: 95%;
  font-family: Comfortaa;
  font-weight: 400;
  outline: none;
  background: transparent;
  border: 1px solid transparent;
  transition: border 0.1s ease-out;
  overflow: hidden;
}

.search-icon {
  color: #616161;
  position: absolute;
  top: 4px;
  right: 30px;
  font-size: 24px;
}

.search-result {
  position: fixed;
  top: 48px;
  background-color: red;
  z-index: 2;
}

.user-text {
  color: #555555;
  font-weight: 400;
  font-size: 16px;
  font-family: Comfortaa;
}

.user-icon {
  position: relative;
  top: 5px;
  right: 2px;
  color: #e86060;
  font-size: 24px;
}
