/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Comfortaa; }

h1, h2 {
    color: #e86060;
    font-weight: bold;
}
a {
    color: #e86060;
    text-decoration: none;
}
a:hover {
    color: red;
    text-decoration: none;
}

.mr-5 {
    margin-right: 30px;
}
.ml-5 {
    margin-left: 30px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#toast-container>.toast-success {
    background-color: #3b3b3b;
    background-image: url("assets/img/add-queue-white.svg");
    box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.35);
    margin-bottom: 95px;
}
