.cover {
  position: relative;
  text-align: center;
  color: white;
}

.cover:hover {
  opacity: 0.6;
}

.play-icon {
  transform: scale(3);
  color: white;
  opacity: 0.8;
}

.album-card {
  background-color: transparent;
  position: absolute;
  top: 0;
  overflow: hidden;
  margin: 0px 10px;
  cursor: pointer;
  box-shadow: none;
  z-index: 1;
}

.album-title {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: rgb(85, 85, 85);
  height: auto;
  overflow: hidden;
  z-index: 1;
}

.album-subtitle {
  font-size: 14px;
  color: rgb(131, 131, 131);
  text-decoration: none;
  z-index: 1;
}

.menu {
  position: absolute;
  top: 4%;
  right: 5%;
  color: white;
}